*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul, ol{
    list-style: none;
}
img {
    vertical-align: bottom;
}
input[type=submit]{
    cursor: pointer;
}
html{
    scroll-behavior: smooth;
}
body{
    font: 400 16px/1.4 Verdana, Arial, sans-serif;
}